# =========================================================
# Python
# =========================================================

__pycache__/
*.py[cod]
*.pyo


# =========================================================
# Virtual Environment
# =========================================================

venv/
.venv/
env/


# =========================================================
# Large Dataset Files
# =========================================================

data/*.csv


# =========================================================
# Large / Unused ML Models
# =========================================================

models/random_forest_model.pkl


# =========================================================
# Jupyter
# =========================================================

.ipynb_checkpoints/


# =========================================================
# Environment Variables
# =========================================================

.env


# =========================================================
# OS Files
# =========================================================

.DS_Store
Thumbs.db

# Local backup
app_backup.py